body {
    background-image: url('spiderman-4008954.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#heading {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#info {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#header-top {
    width: 90%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#welcome {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#fav a {
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#container {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchHeroBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

#displayHeroSearchResults {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;

}

.loading-and-error-font {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}


.hero-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;

}

a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

::placeholder {
    color: midnightblue;
    font-family: 'Belgrano', serif;

}


@media only screen and (min-width : 900px) {
    #header-top {
        margin-left: 3%;
        height: 4%;
        padding: 1%;
        border-radius: 50px;
        font-size: 1.2rem;
    }

    #heading {
        font-size: 5rem;
        color: white;
        font-weight: 900;
    }

    #info {
        font-size: 2rem;
        color: white;
    }

    #searchHeroBar {
        margin-top: 3%;
        position: relative;
        width: 50%;
    }

    #searchHero {
        position: relative;
        width: 100%;
        padding: 3%;
        height: 2%;
        font-size: 1.5rem;
        border-radius: 10px;
    }

    #displayHeroSearchResults {

        flex-direction: row;
        width: 80%;
        margin: 2%;

    }

    .hero-card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        font-size: 2.5rem;
        letter-spacing: 2px;
        white-space: nowrap;
        padding: 1%;
        margin: 2%;
        width: 25%;
        height: 20%;
    }

    .hero-card:hover {
        cursor: pointer;
    }

    .hero-card img {
        width: 150px;
        margin-top: 2%;
        height: 150px;
        border-radius: 10px;

    }

    .fav-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;
        padding: 3%;
        font-size: 1.2rem;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        cursor: pointer;
        font-weight: 900;
    }

}

::placeholder {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}